VITE_WHATSAPP_NUMBER=573001234567
VITE_INSTAGRAM_URL=https://instagram.com/tu-marca
VITE_FACEBOOK_URL=https://facebook.com/tu-marca
VITE_TIKTOK_URL=https://tiktok.com/@tu-marca
VITE_PAYMENT_PROVIDER=demo
VITE_PAYMENT_PUBLIC_KEY=
VITE_API_URL=
